.gradle

# ReactNative
#
third-party

# Fastlane
#
ios/.bundle/
ios/vendor/

# OSX
#
.DS_Store
ios/SilverNew.ipa
ios/SilverNew.app.dSYM.zip

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta

android/app/src/main/res/drawable-hdpi/node_modules_*
android/app/src/main/res/drawable-mdpi/node_modules_*
android/app/src/main/res/drawable-xhdpi/node_modules_*
android/app/src/main/res/drawable-xxhdpi/node_modules_*
android/app/src/main/res/drawable-xxxhdpi/node_modules_*

android/app/src/main/res/drawable-hdpi/src_assets_*
android/app/src/main/res/drawable-mdpi/src_assets_*
android/app/src/main/res/drawable-xhdpi/src_assets_*
android/app/src/main/res/drawable-xxhdpi/src_assets_*
android/app/src/main/res/drawable-xxxhdpi/src_assets_*

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
#*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html

*/fastlane/screenshots

# Bundle artifact
*.jsbundle

#vscode

.vscode/

android/.project
android/.settings/
android/app/.classpath
android/app/.project
android/app/.settings/
ios/assets/

env.js

